.loginButton {
  padding: 1vw;
  margin-top: 5vh;
  border: 0;
  outline: 0;
  color: white;
  background-color: rgb(84, 105, 212);
  border-radius: 8px;
  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-weight: 500;
  padding: 3vh 3vw;
  line-height: 0vh;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
  max-height: 1vw;
  margin-right: 5vw;
  margin-bottom: 3vh;
  float: left;
}

.loginButton:hover {
    color: rgb(206, 197, 199);
    background-color: rgb(0, 0, 0);
}