.resetButton {
  border: 0;
  outline: 0;
  color: white;
  background-color: rgb(77, 117, 227);
  border-radius: 12px;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  padding: 5vh 5vw;
  line-height: 0vh;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
  max-height: 1vw;
  margin-left: 18vw;
  margin-right: auto;
  margin-top: 40vh;
}
.resetButton:hover {
  color: rgb(206, 197, 199);
  background-color: rgb(0, 0, 0);
}